<html>
<head>
    <title>compare</title>
</head>
<body>
<center>
    <a href="./?base={{ .Next }}">NEXT</a>
    <br>
    <img src="{{ .Base }}" alt="base" />
    <img src="{{ .Update }}" alt="update" />
</center>
</body>
</html>
